body{
    background-color: #000000;
}
ul>li{
    color: #ffffff;
    list-style:none;
    color: #f7f0f0;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: row;
    gap:30px;
}
button{
    color: #ffffff;
    background-color: rgb(0, 140, 255);
    padding:12px;
    width: 70px;
    border-radius:20px;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color: rgb(0, 47, 255);

}
ul>li:hover{
    color:skyblue;
}
nav{
    gap: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.font1{
    color: #ffffff;
    font-size: 55px;
   
}
.font2{
    color: #665757;
    font-size: 15px;
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 120px;
    margin-right: 80px;
    margin-left: 50px;
}
.btn_of_div2-a{
    color: #ffffff;
    background-color: rgb(0, 140, 255);
    padding:12px;
    width: 120px;
    border-radius:20px;
    cursor: pointer;
}
.btn_of_div2-b{
    color: #ffffff;
    background-color:#000000;
    padding:12px;
    width: 120px;
    border: 1px solid white;
    border-radius:20px solid white;
    cursor: pointer;
    font-weight: bolder;
}
.btn_of_div2-a:hover{
    background-color:#000000;
    border: 0.2px solid white;
    border-radius:20px solid white;

}
.btn_of_div2-b:hover{
    background-color: rgb(0, 140, 255);
    color:#ffffff;
    border: 0.2px solid white;
    border-radius:20px solid white;
}
.div2-a{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 380px) {
    nav{
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-right: 150px;
    
       }
       .logoo-media{
        width: 15px;
       }
       .btn-media1{
        margin-right:119px ;
        width: 10px;
    
        margin-top: 10px;
        align-items: center;
        text-align: center;
        font-size: 3px;
       }
       ul{
       display: flex;
       flex-direction: row;
       margin-right: 50px;
       gap: 9px;
      }
    .div2{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    }
    .font1{
        color: #ffffff;
        font-size: 20px;
       
    }
    .font2{
        color: #726969;
        font-size: 13px;
    }
    .img-div{
        height: 200px;
        width: 200px;
   
    }
    .btns{
        display: flex;
        flex-direction: row;
        gap: 7px; 
    }
    .div2-a{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .btn_of_div2-a{
        padding:10px;
    }
    .nav-media{
        display: flex;
        flex-direction: row;
        font-size: 15px;
        margin-left: 190px;

    }
    
}


/* ...........stated with div---003--...... */

.div-3{
/* align-items: center; */
display: flex;
flex-direction: row;
justify-content: center;
gap: 270px;
margin-top: 60px;
background-color: rgb(63, 55, 55);
padding: 50px;

}

@media screen and (max-width: 380px) {


}
/* ...........stated with div---004--...... */
.div-4{
    background-color: #fff;
    margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   gap: 60px;
   text-align: center;
   font-family: 'Prompt', sans-serif;
}
.fifth-b{
    margin-top: 40px;
}
.fifth-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 140px;
    margin-top: px;
}

.card-a,.card-b,.card-c{
    text-align: center;
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     font-size: 12px;
    transition: 0.3s;
    border: 1px solid rgb(14, 11, 11);
    border-radius: 20px;
    color:#000000;
}

.card-b:hover,.card-c:hover,.card-a:hover{
    transform: translate(0, -20px);
    background-color: rgb(0, 0, 0);
    color: #f7f0f0;
}
.lrbtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: -24px;
    padding: 92px;

}
.lbtn{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.lbtn2{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 2px;
    background-color: #000;
    padding: 9px;
    border-radius: 14px;
}
.l-btn{
    width: 330px;
    text-align: left;
    color: #000000;
    background-color: #fff;
    border:1px solid #837c7c;;
    border-radius:30px;
    padding: 22px;
    height: 65px;
    font-size: 14px;
}
.l-btn:hover{
    color: #ffffff;
    background-color: rgb(0, 132, 255);
}
.l-btn2:hover{
    color: #000000;
    background-color: rgb(255, 255, 255);
}
.l-btn2{
    width: 352px;
    text-align: left;
    color: #ffffff;
    background-color: rgb(56, 50, 50);
    border:1px solid #837c7c;;
    border-radius:30px;
    padding: 12px;
}

/* ...........stated with div---005 --...... */

.div-5-a{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 190px;
    font-family: 'Prompt', sans-serif;
}
.arrow{
    margin-top: 40px;
}
.div-5-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    padding: 54px;
}
.fst-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: #000 solid 1px;
    border-radius: 20px;
    padding: 24px;
    gap: 12px;
    font-family: 'Prompt', sans-serif;
}
.blu{
    color: #ffffff;
    background-color: rgb(0, 132, 255);
}
.fst-gap{
display:flex;
flex-direction: column;
gap: 16px;
}



/* <!-- ...........stated with div---0066666666666666--...... */
.div-six{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.six-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-right: 200px;
    margin-left: 70px;
    margin-top: 80px;
    font-family: 'Prompt', sans-serif;
}
.ratings{
    background-color: #000000;
    width: 410px;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 22px;
    font-family: 'Prompt', sans-serif;
    margin-top: 30px;
}
.rating-a{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.six-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
    margin-bottom: 70px;
}
.ratings:hover{
    transform: translate(0, -20px);
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 2px solid red;
    cursor: pointer;

}
/* <!-- ...........stated with div---777777777777777777777777--...... --> */

.help-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
}
.ull{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
 .contect-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    background-color: rgb(56, 51, 51);
    padding: 20px;
    width: 1000px;    

}
.contect{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 input{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 39px;
    height: 35px;
    width: 300px;
    background-color: rgb(66, 62, 62);
 }
 #btnls{
    width: 130px;
 }