body{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-image: url(./futuristic-bg.png);
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 259px;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 30px;
    color: #ffffff;
    cursor: pointer;
font-size: 20px;

}
li:hover{
    color: #d15b3e;
}
.nav-1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 16px;
}


/* ...................BUTTONS OF NAV---------  */
button{
    height: 57px;
    width: 110px;
    font-size: 23px;
    background-color:#d15b3e;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.btn-nav{
    background-color: transparent;
    
   
}
button:hover{
    background-color: #fff;
    color:#d15b3e;
}


.div-1{
display: flex;
flex-direction: row;
gap: 100px;
color: #fff;
margin-top: 60px;
}
.imgg{
    margin-top: 150px;
    margin-left: 165px;
}
.div-1a{
        display:inline-block;
        width:50%;
        margin-left: 60px;
     }
.btn-div-2{
    gap: 20px;
    margin-left: 60px;
}
.btn-div-2a,.btn-div-2b{
    width: 200px;
    border: 2px solid #ffffff;
}
.btn-div-2b{
    background-color: transparent;
}
.div-1b{
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}


/* <!-- ........................... Started WITH DIV 2 2 2 2 ..........    --> */

.div-2aa{
    position: relative;
    bottom: 80px;
    backdrop-filter: blur(5px);
color: #ffffff;
font-family: 'Roboto', sans-serif;

}
.bt{
    height: 25px;
                width: 60px;
                font-size: 8px;
                margin-top: 40px;
                margin-left: 8px;
                color: #ffffff;
                /* background-color:#d15b3e; */
}
.bt:hover{
color: #d15b3e;
background-color: #ffffff;
}

.div-2-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;

}


/* <!-- ................... DIV 3 3 3 STARTED .............  --> */

.div-3{
   display: flex;
   flex-direction: column;
   margin-top: 90px;
}
.div-3a{
    display: flex;
    flex-direction: row;

}
.threea{
    width: 50%;
    margin-left: 40px;

}
.div-3-btn{
    margin-left: 0px;
}
.div-3c{
    margin-right: 40px;
}
.div-3-btn-a:hover{
color: #f73100;
background-color: rgb(5, 255, 172);
}
.div-3-btn-b:hover{
    color: #5af700;
    background-color: rgb(0, 211, 63);
}


/* <!-- ....................... div 4 4 4 4  AAAA   A .................  --> */
.div-4-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 650px;
    margin-top: 101px;
}

/* <!-- ........................ div 4 4 4 4 bbbbbbb  .................  --> */

.div4-card{
    display: flex;
    flex-direction:row;
    gap: 20px;
    /* background-color: rgb(158, 140, 140); */

}
.div-4{
    display: flex;
    flex-direction: column;
}
.div-4b{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    gap: 240px;
}


/* <!-- .............. div 555  ..........  --> */
.main-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b2c;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);

    background-color: #1b1b2c;

    color: #ffffff;
    width: 800px;
    height: 500px; 
    margin-left: 300px;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.div5{
    background-color: #1b1b2c;
    position: relative;
 
}
.div5a{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 40px;
    right: 452px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.neww{
    position:absolute;
    height: 464px;
    width: 100%;
    bottom: 3px;
    background: rgba(56, 67, 87,.4);

}



/* ............ foooter .....   */
.ull{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #7e7d7d;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.gap-ke-lea{
    gap: 136px;
    margin-top: 45px;
}